.vscode/**
.vscode-test/**
.kilo/**
.github/**
.sonarlint/**
.scannerwork/**
.artifacts/**
coverage/**
reports/**
src/**
out/test/**
out/reports/**
out/**/*.map
node_modules/**
docs/**
.gitignore
.gitattributes
.editorconfig
.eslintrc.json
AGENTS.md
biome.json
package-lock.json
sonar-project.properties
**/tsconfig.json
**/*.map
**/*.ts
*.vsix
